<section id="experience" class="bg-gray-900 text-gray-100 py-16 px-6 lg:px-24 mx-auto">
    <h2 class="text-3xl font-bold text-teal-400 mb-8" data-aos="fade-up">Experiencia</h2>

    <div class="space-y-8">
        <!-- HEY -->
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-xl font-semibold text-white">Web Manager <span class="text-teal-400">- HEY Agencia</span></h3>
            <p class="text-sm text-gray-400 mb-2">Enero 2025 - Actualidad</p>
            <p class="text-gray-300 mb-2">
                Lidero el desarrollo de proyectos digitales usando tecnologías como <span class="text-teal-400">PHP,
                HTML5, CSS3, JS, JQuery, MySQL</span>. Coordino el equipo técnico, gestiono integraciones con
                Prestashop para clientes que usan ese CMS. Utilizo WordPress para proyectos que estén gestionados con el mismo.
            </p>
        </div>

        <!-- EDO Estudio -->
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg" data-aos="fade-up" data-aos-delay="200">
            <h3 class="text-xl font-semibold text-white">Diseñador y Desarrollador Web <span class="text-teal-400">- EDO
                    Estudio</span></h3>
            <p class="text-sm text-gray-400 mb-2">Noviembre 2023 - Mayo 2024</p>
            <p class="text-gray-300 mb-2">
                Desarrollo de sitios web responsivos en WordPress y Elementor. Optimización SEO y diseño gráfico con
                Illustrator, Photoshop y After Effects.
            </p>
        </div>

        <!-- COINTER -->
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg" data-aos="fade-up" data-aos-delay="150">
            <h3 class="text-xl font-semibold text-white">Diseñador y desarrollador web <span class="text-teal-400">- COINTER
                    Electrónica</span></h3>
            <p class="text-sm text-gray-400 mb-2">Abril - Octubre 2022</p>
            <p class="text-gray-300 mb-2">
                Desarrollo de páginas web usando <span class="text-teal-400">PHP, JavaScript, JQuery, Prestashop</span>.
                Diseño de interfaces en <span class="text-teal-400">Figma</span> y mantenimiento de proyectos activos.
                Diseño de creatividades, maquetación de catálogos y creación de infografías con el paquete <span class="text-teal-400">Adobe</span>
            </p>
        </div>

    </div>
</section>