<section id="contact" class="bg-gray-900 text-gray-100 py-16 px-6 lg:px-24 max-w-4xl mx-auto text-center">
    <h2 class="text-3xl font-bold text-teal-400 mb-6" data-aos="fade-up">Contacto</h2>

    <p class="text-gray-300 mb-8 max-w-xl mx-auto" data-aos="fade-up" data-aos-delay="100">
        ¿Te interesa contactar o necesitas un desarrollador web? Estoy disponible para nuevos proyectos y 
        atender llamadas acerca de sus necesidades, aquí encontrará mi información de contacto.
    </p>

    <div class="space-y-4 text-sm" data-aos="fade-up" data-aos-delay="200">
        <p>
            <span class="text-gray-400">Correo:</span>
            <a href="mailto:mariano.s.hidalgo@gmail.com" class="text-teal-400 hover:underline">
                mariano.s.hidalgo&#64;gmail.com
            </a>
        </p>

        <p>
            <span class="text-gray-400">Ubicación:</span> Coria del Río, Andalucía, España
        </p>

        <p>
            <span class="text-gray-400">LinkedIn:</span>
            <a href="https://linkedin.com/in/mariano-suárez-hidalgo-aa1304235" target="_blank"
                class="text-teal-400 hover:underline">
                /mariano-suárez-hidalgo
            </a>
        </p>

        <p>
            <span class="text-gray-400">GitHub:</span>
            <a href="https://github.com/MarianoJSH" target="_blank" class="text-teal-400 hover:underline">
                /MarianoJSH
            </a>
        </p>
    </div>

    <div class="mt-12 text-xs text-gray-600">
        <p>© {{ currentYear }} Mariano Suárez. Todos los derechos reservados.</p>
    </div>
</section>