/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.cursor-click {
  position: fixed;
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
  background-color: rgba(45, 212, 191, 0.2); /* teal-400 con transparencia */
  pointer-events: none;
  z-index: 50;
  transform: translate(-50%, -50%) scale(1);
  animation: clickPulse 0.4s ease-out forwards;
}

@keyframes clickPulse {
  to {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0;
  }
}